footer {
    display: flex;
    flex-direction: column;
}

.footer-top {
    font-family: "Public Sans", sans-serif;
    background: url(../../Assets//images/test.png);
    padding: 120px 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.footer-title {
    text-align: center;
        font-weight: 400;
    font-size: 100px;
    letter-spacing: 0.07rem;
    line-height: 110px;
}

.footer-main {
    padding: 116px;
    background-color: #191f28;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
}

.footer-logo-container {
    max-width: 300px;
    margin-bottom: 10px;
}

.footer-description {
    font-size: 14px;
    line-height: 1.5;
    text-align: left;
}

.footer-section h4 {
    color: #666666;
    font-size: 16px;
    margin-bottom: 10px;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
        margin: 0;
    }
    
    .footer-section li {
        margin-bottom: 5px;
    }
    
    .footer-section a {
        color: #ffffff;
        text-decoration: none;
        font-size: 14px;
        display: block;
}

.footer-bottom {
    display: flex;
    gap: 320px;
    font-size: 12px;
    background-color: rgb(25, 31, 40);
        color: white;
        padding: 116px;
        padding-top: unset;
        padding-bottom: 0.5rem;
    }
    
    .footer-bottom p {
        font-size: 15px;
    }
    
    .footer-bottom p:first-of-type {
        color: #717780;
    }
    
    @media screen and (max-width: 750px) {
        .footer-top {
            padding: 80px;
        }
    
        .footer-title {
            font-size: 50px;
        }
    }
    
    @media screen and (max-width: 950px) {
        .footer-logo-container {
                display: flex;
                flex-direction: column;
                gap: 1rem;
            }
        
            .footer-title {
                line-height: unset;
                font-size: 40px;
            }
        .footer-main {
            flex-direction: column;
            align-items: flex-start;
            gap: 2rem;
        }
    
        .footer-section {
            text-align: left;
        }
    
        .footer-bottom {
            gap: 1rem;
        }
                                                                                                                                .footer-bottom {
                                                                                                                                    display: unset;
                                                                                                                                    padding: 50px;
                                                                                                                                }
        }